h1{
    color:rgb(10, 15, 19);
    background-color: rgb(163, 245, 206);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color: rgb(19, 1, 1);
    background-color: rgb(204, 149, 236);
}
h4{
    color: rgb(19, 1, 1);
    background-color: rgb(236, 149, 185);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }